<a href="#/users">Go Back</a>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Add User</h3>
  </div>
  <div class="panel-body">
    <div class="row">
      <div class="col-md-12">
      <form ng-submit="addUser()">
        <div class="form-group">
          <label>Name</label>
          <input type="text" class="form-control" ng-model="user.name" placeholder="Name">
        </div>
        <div class="form-group">
          <label>Gender</label>
          <select ng-model="user.genre" class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
          </select>
        </div>
        <div class="form-group">
          <label>Email</label>
          <input type="text" class="form-control" ng-model="user.email" placeholder="Email">
        </div>
        <div class="form-group">
          <label>Address</label>
          <input type="text" class="form-control" ng-model="user.address" placeholder="Address">
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" ng-model="user.password" placeholder="Password">
        </div>
        <button type="submit" class="btn btn-primary" href="#/">Submit</button>
      </form>
    </div>
    </div>
  </div>
</div>
