<div class="panel panel-default" ng-init="getUsers()">
  <div class="panel-heading">
    <h3 class="panel-title">Latest Users</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    	<div ng-repeat="user in users">
    		<div class="col-md-6">
    			<div class="col-md-6">
    				<h4>{{user.name}}</h4>
             <ul class="list-group">
             <li class="list-group-item">Name: {{user.name}}</li>
             <li class="list-group-item">Genrder: {{user.genre}}</li>
             <li class="list-group-item">Email: {{user.email}}</li>
             <li class="list-group-item">Address: {{user.address}}</li>
           </ul>
    			</div>
    		</div>
    	</div>
    </div>
  </div>
</div>
